<!--extend needs to be at the top-->
{% extends 'molecule/loggedin_base.html' %}

{% block content_page %}

    <h2>{{user.username}}'s Contacts & Groups</h2>

    <div>
        {% for group in groups %}

        <p>{{group.name}}</p>
        <ul>
            {% for contact in group.contacts.all %}
                <li>
                   {{ contact.username }} - {{contact.first_name}} {{contact.last_name}}
                </li>
            {% endfor %}
        </ul>

        {% endfor %}

    </div>

<form action="" method="post">
    {% csrf_token %}

    New group name: <input type="text" name="group_name"/> <br/>

    <button type="submit">create group</button><br/>

</form>

<!--from model:-->
<!--group tags-->

{% endblock %}



