{% extends 'molecule/base.html' %}


<head>
    <title>Molecule - Login</title>
</head>

<!--{% block title %}Login{% endblock%}-->

{% block content %}
    <h2>Molecule</h2>

    {% if error_message %}
    <span style="color:red;font-size:20px">{{error_message}}</span>
    {% endif %}

    <form action="{% url 'molecule:index'%}" method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>

    <p>New User?</p>
    <a href="{% url 'molecule:create_account' %}">Create Account</a>

{% endblock %}
