<!--extend needs to be at the top-->
{% extends 'molecule/loggedin_base.html' %}

{% block content_page %}

    <h2>{{user.username}}'s Messages</h2>

        <!--From model:-->
        <!--messages-->

        <div id="new_message">
            <a href="{% url 'molecule:send_message' %}">Send New Message</a>
        </div>

        <!--<div>Search Messages</div>-->

        <div id="unread">
            <ul> Messages:
                {% for sender, texts in messages.items %}
                <div class="hide_children sender">
                    {{sender.first_name}}
                    <div class="close_button">Close</div>
                    <div id="{{sender.username}}">
                        {% for text in texts %}
                            {{text.text}} <br />
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </ul>
        </div>

<script>
    let open = function(e) {
        let messages = document.getElementsByClassName('sender');
        for (let i =0; i < messages.length; i++) {
            messages[i].classList.add('hide_children');
        }
        this.classList.remove('hide_children');
    };

    let contacts = document.getElementsByClassName('sender');
    for (let i = 0; i < contacts.length; i++) {
        contacts[i].onclick = open
    }

    let close_buttons = document.getElementsByClassName('close_button');
    for (let i = 0; i < close_buttons.length; i++) {
        close_buttons[i].onclick = function (e) {
            e.stopPropagation();
            this.parentElement.classList.add('hide_children');
        }
    }

</script>


        <!--<div id="messages">-->
            <!--<ul> Messages:-->
                <!--<li>-->
                    <!--&lt;!&ndash;username and group names of messages&ndash;&gt;-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->

{% endblock %}