
{% extends 'molecule/loggedin_base.html' %}

{% block content_page %}

<!-- now the page greets them by name!-->

    <h2>{{viewed_user.username}}'s Profile</h2>

        {{profile.bio}}

    <div>
        {% if profile.image %}
        <img src="url({{profile.image.url}})" />
        {% else %}
        <img src="" />
        {% endif %}
    </div>

    <div>
        {% if viewed_user == user %}
        <a href="{% url 'molecule:edit_profile' %}">edit profile</a>
        {% else %}
        <a href="{% url 'molecule:add_contact' viewed_user.username%}">add as contact</a>
        {% endif %}
    </div>

{% endblock %}