

h1 {
    display: flex;
    font-variant: small-caps;
    font-size: xx-large;
    color: darkblue;
    background-color: cornflowerblue;
    padding: 10px;
    border: 0px;
    width: 100%;
}

body {
    height: 100%;
    background:white url('images/molecule-3000.jpg') no-repeat right top;
}

#head {
    display: flex;
    justify-content: center;
}


#log_out {
    display: flex;
    position:absolute;
    left:100%;
    transform:translateX(-110%);
    top:10px;
    z-index: +1;

}

/*this is the nav bar*/
#navigation {
    display: flex;
    flex-direction: row;
}

h4 {
    padding: 5px;
}


