body {
	height:100vh;
    margin: 0;
    /*background:white url('images/molecule-3000.jpg') no-repeat right top;*/
    background: linear-gradient(rgba(121, 85, 72, 0.45), rgba(121, 85, 72, 0.45)), url('images/molecule image 2.jpg') no-repeat right top;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    /*background-size: cover;*/
}


#header {
    display: flex;
    justify-content: space-between;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: dimgrey;
    opacity: 0.5;
    z-index: +1;
}


#title {
    display: flex;
    font-variant: small-caps;
    font-size: x-large;
    padding: 10px;
    font-weight: bold;
    opacity: 1;
}

/*this is the nav bar*/
#navigation {
    display: flex;
    flex-direction: row;
    color: black;
    background-color:#fff;
    padding:5px;
    border-radius: 25px;
    height: 50px;
}


#log_out {
    top:10px;
    /*z-index: +1;*/
    background-color: #fff;
    border: 10px;
	padding:5px;
	border-radius: 20px;
    height: 20px;
}


h4 {
    padding: 5px;
    color: black;
}

#content {
    padding: 10px;
    background-color: #808093;
    /*margin-bottom: 100%;*/
    border-radius: 20px;

}

.hide_children div {
    display: none;
}


/*.navbar-btn {*/
  /*margin: 10px;*/
/*}*/

/*these make sircles around each nav button*/
/*#nav1 {*/
    /*display: flex;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background: #fff;*/
    /*border-radius: 50%;*/
    /*!*justify: absolute;*!*/
    /*top: 10px;*/
    /*left: 10px;*/
/*}*/

/*#nav2 {*/
    /*display: flex;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*background: #fff;*/
    /*border-radius: 50%;*/
    /*!*justify: absolute;*!*/
    /*top: 10px;*/
    /*left: 10px;*/
/*}*/

/*#nav3 {*/
    /*display: flex;*/
	/*width:100px;*/
	/*height:100px;*/
	/*background: #fff;*/
	/*border-radius:50%;*/
    /*!*justify: absolute;*!*/
    /*top: 10px;*/
    /*left: 10px;*/
/*}*/



