body {
	height:100vh;
    margin: 0;
    /*background:white url('images/molecule-3000.jpg') no-repeat right top;*/
    background: linear-gradient(rgba(121, 85, 72, 0.45), rgba(121, 85, 72, 0.45)), url('images/molecule image 2.jpg') no-repeat right top;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    /*background-size: cover;*/
}


#header {
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: dimgrey;
    opacity: 0.5;
    z-index: +1;
    /*position: fixed;*/
}


#title {
    display: flex;
    font-variant: small-caps;
    font-size: x-large;
    padding: 10px;
    font-weight: bold;
    opacity: 1;
}


/*this is the nav bar*/
#navigation {
    display: flex;
    flex-direction: row;
    color: black;
	/*font-size:20px;*/
	background-color:#fff;
	padding:5px;
	/*color:#333;*/
	border-radius: 5px;
	/*transition: 1s;*/
}

/*.navbar-btn .btn:hover {*/
	/*border-radius: 0;*/
/*!* 	transition:2s; *!*/
/*}*/

/*#head {*/
    /*display: flex;*/
    /*justify-content: center;*/
/*}*/


#log_out {
    display: flex;
    position:absolute;
    left:100%;
    transform:translateX(-110%);
    top:10px;
    /*z-index: +1;*/
    background-color: rgb(127, 140, 141);
    padding: 8px;
    /*margin: 2px;*/
    border-radius: 45%;
}


h4 {
    padding: 5px;
    color: black;
}

#content {
    padding: 10px;
    background-color: #808093;
    /*margin-bottom: 100%;*/

}